<a href="https://colab.research.google.com/github/MitehReddy/AIML-2025/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

part1: Implement basic data structures using Numpy,Pandas

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

list1 = [1,2,3,4]
array1 = np.array(list1)
array1
array2 = np.array([1,2,3,4])
list, array1, array2

(list, array([1, 2, 3, 4]), array([1, 2, 3, 4]))

In [ ]:
## Identify the type of data structure
type(list1), type(array1), type(array2)

(list, numpy.ndarray, numpy.ndarray)

In [ ]:
##perform Mathematical operations on arrays, lists
print("Adding two arrays:",array1+array2)
print("subtracting two arrays:",array1-array2)
print("Multiplying two arrays:",array1*array2)
print("dividing two arrays:",array1/array2)
print("Exponentiating two arrays:",array1**array2)
print("multiply array to list:",array2*list1)

Adding two arrays: [2 4 6 8]
subtracting two arrays: [0 0 0 0]
Multiplying two arrays: [ 1  4  9 16]
dividing two arrays: [1. 1. 1. 1.]
Exponentiating two arrays: [  1   4  27 256]
multiply array to list: [ 1  4  9 16]

In [ ]:
#combine text with numpy function
print(f"Adding {array1}with {array2}")
print(f"Result:{np.add(array1,array2)}")

Adding [1 2 3 4]with [1 2 3 4]
Result:[2 4 6 8]

In [ ]:
#find the sin, log, log2, exp values
print(f"sin value of array1:{np.sin(array1)}")
print(f"log value of array1: {np.log(array1)}")
print(f"log base2 value of array1:{np.log2(array1)}")
print(f"log base10 value of array1: {np.log10(array1)}")
print(f"exponential value of array1:{np.exp(array1)}")

sin value of array1:[ 0.84147098  0.90929743  0.14112001 -0.7568025 ]
log value of array1: [0.         0.69314718 1.09861229 1.38629436]
log base2 value of array1:[0.        1.        1.5849625 2.       ]
log base10 value of array1: [0.         0.30103    0.47712125 0.60205999]
exponential value of array1:[ 2.71828183  7.3890561  20.08553692 54.59815003]